{% extends 'base.html' %}
{% block content %}
{% block title %}<title>Register</title>{% endblock %}
<h1>Register</h1>
<form name="register_form" action="/register" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="text" name="password">
    <label for="role">Admin?</label>
    <input type="checkbox" name="role" value="admin">
    <button type="submit">Register</button>
</form>
{% endblock %}